div.notify .pd-l0 {
    padding-left: 0;
}

div.notify {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 0px;
}

div.notify > p.time {
    font-size: 10px;
    font-weight: 600;
    top: -6px;
    margin: 8px 0px 0px 0px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    position: relative;
    background-image: linear-gradient(#fff,#f2f2f2);
    display: inline-block;
    border-radius: 2px;
    color: #B97745;
}